* {
    padding:0px;
    margin:0px;
}

.swapImg {
    position:absolute;
    margin-left:5cm;

}

.btn {
    position:absolute;
    height:90px;
    width:60px;
    background:rgba(0,0,0,0.5);/*设置背景颜色为黑色，透明度为50%*/
    color:#ffffff;
    text-align:center;
    line-height:90px;
    font-size:40px;
    top:155px;/*图片高度400/2-45*/
    cursor:pointer;
    /*display:none;*/
}

.btnRight {
    left:840px;/*图片宽度900-导航宽度60*/
}
#tabs {
    font-size: 100px;
    position:absolute;
    top:370px;
    margin-left:350px;
}
.tab {
    height:20px;
    width:20px;
    background:#05e9e2;
    line-height:20px;
    text-align:center;
    font-size:10px;
    float:left;
    color:#ffffff;
    margin-right:10px;
    border-radius:100%;
    cursor:pointer;
}
.bg {
    background:#00ff21;
}