<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .tupian01{
            border:1px solid #000; width:300px;height: 400px;
        }
        .tupian02{
            border:1px solid #000; width:300px;height: 400px;
        }
        .tupian03{
            border:1px solid #000; width:300px;height: 400px;
        }
        .tupian01,.tupian03,.tupian02{display: inline-block;vertical-align: top;margin-left:87px}

        .xuanze{
            width:250px;height: 80px;
            margin-left:1000px
        }
    </style>
</head>
<body>
<div class="xuanze">
    <a><span style="font-size: 20px">首页</span></a>&nbsp;&nbsp;<a style="font-size: 20px"><span>拼图</span></a>
    <a><span style="font-size: 20px">盲盒</span></a>&nbsp;&nbsp;<a style="font-size: 20px"><span>个人中心</span></a>
</div>
<div class="tupian01">
    <img src="/img/0a.jpg" height="200px" width="300px">
    <h3>梦中的婚礼</h3>
    <p>介绍:婚纱</p>
    <span>总数量:300</span>&nbsp;&nbsp;<span>可用数量:245</span>&nbsp;<br/><br/>
    <span>所需积分:5</span> &nbsp;&nbsp;
</div>
<div class="tupian02">
    <img src="/img/0b.jpg" height="200px" width="300px">
    <h3>孙悟空</h3>
    <p>介绍:来自大话西游主角</p>
    <span>总数量:300</span>&nbsp;&nbsp;<span>可用数量:245</span>&nbsp;<br/><br/>
    <span>所需积分:5</span> &nbsp;&nbsp;
</div>
<div class="tupian03">
    <img src="/img/0c.jpg" height="200px" width="300px">
    <h3>紫霞</h3>
    <p>介绍:七彩云朵</p>
    <span>总数量:300</span>&nbsp;&nbsp;<span>可用数量:245</span>&nbsp;<br/><br/>
    <span>所需积分:5</span> &nbsp;&nbsp;
</div>
</body>
</html>