<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .box{width: 907px;margin: 0 auto;}
        .yhdl{border:1px solid #000; height:500px;width:400px}
        .no1{transform:translate(80px,80px)}
        .no2{transform:translate(70px)}
        .anniu1{transform:translate(50px)}
        .anniu2{transform:translate(100px)}
        .yhdl,.tupian{display: inline-block;vertical-align: top;}
        .dibu{transform:translate(50%,30%)}
        .dibu{font-size: 20px}
    </style>
</head>
<body>
<div class="box">

    <div class="tupian">
        <img src="/img/1.jpg" height="500" width="500"/>
    <div class="yhdl">
        <div class="no1">
            <h1 class="no2">用户登录</h1>
            <form action="main.html" method="post" th:action="@{/login}">
                <label th:text="${msg}"></label><br/>
                用 户 名:<input type="text" name="name" /><br/>
                <br/>
                密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:<input type="text" name="pwd" /><br/>
                <br/>
                <br/>
                <input class="anniu1" id="tijiao" type="submit" name="提交" />
                <a th:href="@{/zhuce}"><input class="anniu2" type="button" id="zhuce" name="注册" value="注册" /></a>
            </form>
        </div>
    </div>
</div>
</div>
<div class="dibu">皓哥赞助</div>
</body>
<script>
    // $("#tijao").click(function () {
    //     var username=$(".name").val();
    //     var password=$(".pwd").val();
    //     $.ajax({
    //         url : "/login",
    //         type : "post",
    //         data:{name:"username",pwd:"password"}
    //     })
    // })
</script>
</html>