<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
         <title>轮播图</title>
    <script src="/js/jquery-1.12.4.js"></script>
    <script src="/js/LunBimg.js"></script>
    <link href="/css/LunBimg.css" rel="stylesheet" />
</head>
<body>
     <div id="allswapImg">
         <div class="swapImg"><img src="img/1.jpg" height="400px" width="900px" /></div>
         <div class="swapImg"><img src="img/2.jpg" height="400px" width="900px" /></div>
         <div class="swapImg"><img src="img/3.jpg" height="400px" width="900px" /></div>
     </div>
     <!--     <div class="btn btnLeft"><</div>-->
<!--     <div class="btn btnRight">></div>-->
<!--     <div id="tabs">-->
<!--         <div class="tab bg" >1</div>-->
<!--         <div class="tab" >2</div>-->
<!--         <div class="tab" >3</div>-->
<!--     </div>-->
<div style="position:relative;top:420px;margin-left:3cm ;">
    <h2>最新获奖:</h2>
</div>
</body>
</html>