<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
         <title>拼图盲盒展示</title>
    <script src="/js/jquery-1.12.4.js"></script>
    <script src="/js/LunBimg.js"></script>
    <link href="/css/LunBimg.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">
</head>
<body>
<header id="site-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <figure id="site-logo">
                    <a href="index.html"><img src="/img/logo.png" height="100px" alt="Logo"></a>
                </figure>
            </div>
            <div class="col-md-6 col-sm-8">
                <nav id="site-nav" class="nav navbar-default">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/lunbotu}">首页</a></li>
                        <li><a th:href="@{/blindBox}">拼图</a></li>
                        <li><a th:href="@{/blindBoxXq}">盲盒</a></li>
                        <li>
                            <a href="#">个人中心</a>
                            <ul>
                                <li><a href="#">个人信息</a></li>
                                <li><a href="#">退出登陆</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <img src=""/>
        </div>
    </div>
</header>
     <div id="allswapImg">
         <div class="swapImg"><img src="img/1.png" height="450px" width="750px" /></div>
         <div class="swapImg"><img src="img/2.png" height="450px" width="750px" /></div>
         <div class="swapImg"><img src="img/3.png" height="450px" width="750px" /></div>
         <div class="swapImg"><img src="img/4.png" height="450px" width="750px" /></div>
     </div>
<div style="margin-top:500px;margin-left:3cm ;">
    <h2>最新获奖:</h2>
</div>
<div style="top: 600px;margin-left: 3cm">
    <div id="hj1" style="height: 130px;width: 180px;float: left">
        <img src="/img/6.jpg" height="100px" width="120px" style="margin-left: 30px;border-radius: 50%;overflow: hidden"><br/>
        <span style="margin-left: 55px">昵称:zhuyao</span>
    </div>
    <div id="hj2" style="height: 130px;width: 180px;float: left">
        <img src="/img/7.jpg" height="100px" width="120px" style="margin-left: 30px;border-radius: 50%;overflow: hidden"><br/>
        <span style="margin-left: 55px">昵称:haoge</span>
    </div>
    <div id="hj3" style="height: 130px;width: 180px;float:left;">
        <img src="/img/8.png" height="100px" width="120px" style="margin-left: 30px;border-radius: 50%;overflow: hidden"><br/>
        <span style="margin-left: 55px">昵称:zhuxiong</span>
    </div>
</div>
<a href="#top" id="scroll-top"><i class="fa fa-angle-up"></i></a>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>
</html>